<section id="about" class="section is-medium has-background-primary">
	<div class="container">
		<h2 class="title is-1 has-text-white has-separator has-text-centered-mobile">特徴</h2>
		<!-- <p class="has-text-white has-text-centered-mobile">Curabitur mollis bibendum luctus duis suscipit.</p> -->
		<div class="columns is-centered">
			<div class="column is-10">
				<section class="section">
					<h4 class="title is-3 is-spaced has-text-weight-bold has-text-white">1. 弊社独特のテンプレートエンジンを利用して素早く要件のプロとタイム画面作成可能</h3>
					<h4 class="title is-3 is-spaced has-text-weight-bold has-text-white">2. UI/UX設計からフロントエンド・バックエンド開発やインフラ構築・運用まで統括して対応</h3>
					<h4 class="subtitle is-6 has-text-white">弊社では主にAWS,Ruby On Rails,Vue.jsを利用してサービス構築を行います。</h4>
				</section>
			</div>
		</div>

		
		<div class="columns is-centered is-float">
			<div class="column is-8 is-10-mobile">
				<figure class="image is-16by9 is-covered">
						<img src="assets/images/undraw_in_progress_ql66.svg" />
				</figure>
			</div>
		</div>
	</div>
</section>