<footer class="footer">
	<div class="content has-text-centered has-text-white">
		<p class="has-text-white">
				Copyright©2020 negabaro Inc. All rights reserved.
			<!--<strong class="has-text-white">Pageo222</strong> by <a href="https://creativebulma.net" class="has-text-white">CreativeBulma</a>.
			<br />
			 <a href="#" class="has-text-white-ter"><i class="fab fa-facebook"></i></a>
			&nbsp;
			<a href="#" class="has-text-white-ter"><i class="fab fa-twitter"></i></a>
			&nbsp;
			<a href="#" class="has-text-white-ter"><i class="fab fa-instagram"></i></a>-->
		</p>
	</div>
</footer>