<!-- Start top navbar -->
<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-centered" href="/">
        <h1 class="title is-5 has-text-weight-normal">{{ site.title }}</h1>
      </a>

      <div class="navbar-burger burger" data-target="mobileMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">

      </div>
      <div class="navbar-end">
        <a href="#home" class="navbar-item is-active" data-scroll="smooth">Home</a>
        <a href="#services" class="navbar-item" data-scroll="smooth">Services</a>
        <a href="#about" class="navbar-item" data-scroll="smooth">About</a>
        <a href="#team" class="navbar-item" data-scroll="smooth">Team</a>
        <a href="#contact" class="navbar-item" data-scroll="smooth">Contact</a>
      </div>

    </div>
  </div>
</nav>
<!-- End top navbar -->
