<section id="portfolio" class="section is-medium">
	<div class="container">
		<h2 class="title is-1 has-text-primary has-separator has-text-centered-mobile">開発事例</h2>
		<p class="has-text-centered-mobile">弊社で開発した実績です。</p>
		<br />
		<div class="columns is-multiline is-mobile">
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar2" style="background-color: #51cbda; padding: 10px">
					<img src="assets/images/undraw_fans_gr54.svg" />
					<h3 class="title is-size-6-mobile">アマチュアスポーツ名簿管理システム開発</h3>
					<h4 class="subtitle is-size-7-mobile">CO-FOUNDER & CTO</h4>
					<p class="icon-links">
						<a href="#" class="icon"><span class="fab fa-facebook"></span></a>
						<a href="#" class="icon"><span class="fab fa-twitter"></span></a>
						<a href="#" class="icon"><span class="fab fa-instagram"></span></a>
					</p>
				</div>
			</div>
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar2" style="background-color: #51cbda; padding: 10px">
						
					<img src="assets/images/undraw_add_to_cart_vkjp.svg" />
					<h3 class="title is-size-6-mobile">ECプラットフォーム開発</h3>
					<h4 class="subtitle is-size-7-mobile">CO-FOUNDER & CTO</h4>
					<p class="icon-links">
						<a href="#" class="icon"><span class="fab fa-facebook"></span></a>
						<a href="#" class="icon"><span class="fab fa-twitter"></span></a>
						<a href="#" class="icon"><span class="fab fa-instagram"></span></a>
					</p>
				</div>
			</div>
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar2" style="background-color: #51cbda; padding: 10px">
						
					<img src="assets/images/undraw_newspaper_k72w.svg" />
					<h3 class="title is-size-6-mobile has-text-white has-text-centered-mobile">メディアサイトリプレース</h3>
					<h4 class="subtitle is-size-7-mobile has-text-white">CO-FOUNDER & CTO</h4>
					<p class="icon-links">
						<a href="#" class="icon"><span class="fab fa-facebook"></span></a>
						<a href="#" class="icon"><span class="fab fa-twitter"></span></a>
						<a href="#" class="icon"><span class="fab fa-instagram"></span></a>
					</p>
				</div>
			</div>
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar2" style="background-color: #51cbda; padding: 10px">
					<img src="assets/images/undraw_good_doggy_4wfq.svg" />
					<h3 class="title is-size-6-mobile">ペットケアサービス開発</h3>
					<h4 class="subtitle is-size-7-mobile">CO-FOUNDER & CTO</h4>
					<p class="icon-links">
						<span class="icon"><img src="assets/images/icon/aws.svg"/></span>
						<span class="icon"><img src="assets/images/icon/xd.svg"/></span>
						<span class="icon"><img src="assets/images/icon/rails.svg"/></span>
					</p>
				</div>
			</div>
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar2" style="background-color: #51cbda; padding: 10px">
					<img src="assets/images/undraw_online_video_ivvq.svg" />
					<h3 class="title is-size-6-mobile">映画レビューサイトリプレース</h3>
					<h4 class="subtitle is-size-7-mobile">CO-FOUNDER & CTO</h4>
					<p class="icon-links">
						<span class="icon"><img src="assets/images/icon/aws.svg"/></span>
						<span class="icon"><img src="assets/images/icon/xd.svg"/></span>
						<span class="icon"><img src="assets/images/icon/rails.svg"/></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>