<section id="services" class="section is-medium">
	<div class="container">
		<h2 class="title is-1 has-text-primary has-separator has-text-centered-mobile">事業内容</h2>
		<!-- <p class="has-text-centered-mobile">サービスです。</p>-->
		<br />
		<div class="columns is-variable is-8">
			<div class="column is-half">
				<figure class="image is-4by3 is-covered">
						
				    <img src="assets/images/undraw_web_developer_p3e5.svg" />

					<!-- <img src="https://images.unsplash.com/photo-1515700553106-bdf080dd3d25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2900&q=80"> -->
				</figure>
			</div>
			<div class="column">
				<article class="media">
					<figure class="media-left">
						<p class="image is-96x96 has-icon is-rounded is-bordered is-active">
							<span class="icon">
								<i class="fas fa-3x fa-code"></i>
							</span>
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<h2 class="title">ウェブサービス構築・運用</h2>
							<h3 class="subtitle is-6 has-text-grey">
								UI/UX設計からフロントエンド・バックエンドサービス構築まで統括し対応します。
							</h3>
						</div>
					</div>
				</article>
				<article class="media">
					<figure class="media-left">
						<p class="image is-96x96 has-icon is-rounded is-bordered is-active">
							<span class="icon">
								<i class="fas fa-3x fa-server"></i>
							</span>
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<h2 class="title">クラウドインフラ構築・運用</h2>
							<h3 class="subtitle is-6 has-text-grey">
								AWS・Dockerを利用したスケーラブルなインフラ構築やterraform,aws cdkを利用したインフラのコード化まで対応します。
							</h3>
						</div>
					</div>
				</article>				
				<article class="media">
					<figure class="media-left">
						<p class="image is-96x96 has-icon is-rounded is-bordered">
							<span class="icon">
								<i class="fas fa-3x fa-video"></i>
							</span>
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<h2 class="title">次世代動画システム開発</h2>
							<h3 class="subtitle is-6 has-text-grey">
								動画提供者の一方的な情報ではなく見る側の人に合わせて変化する次世代の動画を目指してシステム研究・開発をします。
							</h3>
						</div>
					</div>
				</article>
				
				<!--<article class="media">
					<figure class="media-left">
						<p class="image is-96x96 has-icon is-rounded is-bordered">
							<span class="icon">
								<i class="fas fa-3x fa-clock"></i>
							</span>
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<h2 class="title">Lorem ipsum dolor</h2>
							<h3 class="subtitle is-6 has-text-grey">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.
							</h3>
						</div>
					</div>
                </article>
            -->
				
			</div>
		</div>
	</div>
</section>

