<section id="team" class="section is-medium">
	<div class="container">
		<h2 class="title is-1 has-text-primary has-separator has-text-centered-mobile">Team</h2>
		<p class="has-text-centered-mobile">Curabitur mollis bibendum luctus duis suscipit vitae dui se bibendum.</p>
		<br />
		<div class="columns is-multiline is-mobile">
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar">
					<figure class="image is-1by1 is-covered has-hover-effect">
						<img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
						<figcaption>
							<h3 class="title is-size-6-mobile">Name Surname</h3>
							<h4 class="subtitle is-size-7-mobile">CO-FOUNDER & CTO</h4>
							<p class="icon-links">
								<a href="#" class="icon"><span class="fab fa-facebook"></span></a>
								<a href="#" class="icon"><span class="fab fa-twitter"></span></a>
								<a href="#" class="icon"><span class="fab fa-instagram"></span></a>
							</p>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar">
					<figure class="image is-1by1 is-covered has-hover-effect">
					<img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
					<figcaption>
						<h3 class="title is-size-6-mobile">Name Surname</h3>
						<h4 class="subtitle is-size-7-mobile">CO-FOUNDER & CTO</h4>
						<p class="icon-links">
							<a href="#" class="icon"><span class="fab fa-facebook"></span></a>
							<a href="#" class="icon"><span class="fab fa-twitter"></span></a>
							<a href="#" class="icon"><span class="fab fa-instagram"></span></a>
						</p>
					</figcaption>
				</figure>
				</div>
			</div>
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar">
					<figure class="image is-1by1 is-covered has-hover-effect">
					<img src="https://images.pexels.com/photos/567459/pexels-photo-567459.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
					<figcaption>
						<h3 class="title is-size-6-mobile">Name Surname</h3>
						<h4 class="subtitle is-size-7-mobile">CO-FOUNDER & CTO</h4>
						<p class="icon-links">
							<a href="#" class="icon"><span class="fab fa-facebook"></span></a>
							<a href="#" class="icon"><span class="fab fa-twitter"></span></a>
							<a href="#" class="icon"><span class="fab fa-instagram"></span></a>
						</p>
					</figcaption>
				</figure>
				</div>
			</div>
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar">
					<figure class="image is-1by1 is-covered has-hover-effect">
					<img src="https://images.pexels.com/photos/793253/pexels-photo-793253.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
					<figcaption>
						<h3 class="title is-size-6-mobile">Name Surname</h3>
						<h4 class="subtitle is-size-7-mobile">CO-FOUNDER & CTO</h4>
						<p class="icon-links">
							<a href="#" class="icon"><span class="fab fa-facebook"></span></a>
							<a href="#" class="icon"><span class="fab fa-twitter"></span></a>
							<a href="#" class="icon"><span class="fab fa-instagram"></span></a>
						</p>
					</figcaption>
				</figure>
				</div>
			</div>
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar">
					<figure class="image is-1by1 is-covered has-hover-effect">
					<img src="https://images.pexels.com/photos/325682/pexels-photo-325682.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
					<figcaption>
						<h3 class="title is-size-6-mobile">Name Surname</h3>
						<h4 class="subtitle is-size-7-mobile">CO-FOUNDER & CTO</h4>
						<p class="icon-links">
							<a href="#" class="icon"><span class="fab fa-facebook"></span></a>
							<a href="#" class="icon"><span class="fab fa-twitter"></span></a>
							<a href="#" class="icon"><span class="fab fa-instagram"></span></a>
						</p>
					</figcaption>
				</figure>
				</div>
			</div>
			<div class="column is-one-third-tablet is-half-mobile">
				<div class="avatar">
					<figure class="image is-1by1 is-covered has-hover-effect">
						<img src="https://images.pexels.com/photos/1739580/pexels-photo-1739580.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
						<figcaption>
							<h3 class="title is-size-6-mobile">Name Surname</h3>
							<h4 class="subtitle is-size-7-mobile">CO-FOUNDER & CTO</h4>
							<p class="icon-links">
								<a href="#" class="icon"><span class="fab fa-facebook"></span></a>
								<a href="#" class="icon"><span class="fab fa-twitter"></span></a>
								<a href="#" class="icon"><span class="fab fa-instagram"></span></a>
							</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>