<section id="home" class="hero is-fullheight is-primary" data-background="assets/images/rawpixel_06.jpg"
 data-background-position="center center" data-background-size="cover">
	<div class="hero-body">
		<div class="container has-text-centered-mobile">
			<h1 class="title is-spaced is-1 has-text-centered-mobile">ウェブサービスで人々を幸せに<br />
				<span class="has-text-weight-light">株式会社negabaro</span></h1>
			 <!-- <h2 class="subtitle is-3 has-text-centered-mobile">Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
				dolore magna aliquyam erat, sed diam voluptua.</h2>-->
			<a href="#contact" class="button is-primary">お問い合わせ</a>
		</div>
	</div>
</section>